---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import HeroImage from '../sections/HeroImage.astro';
import HeroServices from '../sections/HeroServices.astro';
import HeroSpecialist from '../sections/HeroSpecialist.astro';
---

<Layout title="Personal2 | Portfolio">
	<Header />
	<main>
		<HeroImage />
		<section class="main_section">
			<HeroSpecialist />
			<HeroServices />
		</section>
	</main>
</Layout>

<style>
	main{
		width: 90%;
		margin: 0 auto;

		display: grid;
		grid-template-columns: 1fr;
		gap: 3rem;
		margin-block: 1.5rem;

		.main_section{
			display: grid;
			grid-template-columns: 1fr;
			gap: 2rem;
		}
	}

	@media (min-width: 768px) {
		main{
			grid-template-columns: 1fr 1fr;
			align-items: center;
			gap: 2rem;
			.main_section{
				height: 80vh;
				overflow: auto;
				scrollbar-width: thin;
			}
		}
	}
</style>