---

---

<header>
    <div class="container">
        <div class="logo">
            <a href="/">Arc<span>ane</span></a>
        </div>

        <nav>
            <ul>
                <li><a class="links" href="#">Home</a></li>
                <li><a class="links" href="#">Portfolio</a></li>
                <li><a class="links" href="#">Blog</a></li>
                <li><a class="links" href="#">About</a></li>
            </ul>
        </nav>

        <aside>
            <ul>
                <li>
                    <a href="#">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12,2.162c3.204,0,3.584,0.012,4.849,0.07c1.308,0.06,2.655,0.358,3.608,1.311c0.962,0.962,1.251,2.296,1.311,3.608   c0.058,1.265,0.07,1.645,0.07,4.849c0,3.204-0.012,3.584-0.07,4.849c-0.059,1.301-0.364,2.661-1.311,3.608   c-0.962,0.962-2.295,1.251-3.608,1.311c-1.265,0.058-1.645,0.07-4.849,0.07s-3.584-0.012-4.849-0.07   c-1.291-0.059-2.669-0.371-3.608-1.311c-0.957-0.957-1.251-2.304-1.311-3.608c-0.058-1.265-0.07-1.645-0.07-4.849   c0-3.204,0.012-3.584,0.07-4.849c0.059-1.296,0.367-2.664,1.311-3.608c0.96-0.96,2.299-1.251,3.608-1.311   C8.416,2.174,8.796,2.162,12,2.162 M12,0C8.741,0,8.332,0.014,7.052,0.072C5.197,0.157,3.355,0.673,2.014,2.014   C0.668,3.36,0.157,5.198,0.072,7.052C0.014,8.332,0,8.741,0,12c0,3.259,0.014,3.668,0.072,4.948c0.085,1.853,0.603,3.7,1.942,5.038   c1.345,1.345,3.186,1.857,5.038,1.942C8.332,23.986,8.741,24,12,24c3.259,0,3.668-0.014,4.948-0.072   c1.854-0.085,3.698-0.602,5.038-1.942c1.347-1.347,1.857-3.184,1.942-5.038C23.986,15.668,24,15.259,24,12   c0-3.259-0.014-3.668-0.072-4.948c-0.085-1.855-0.602-3.698-1.942-5.038c-1.343-1.343-3.189-1.858-5.038-1.942   C15.668,0.014,15.259,0,12,0z"
                            ></path>
                            <path
                                d="M12,5.838c-3.403,0-6.162,2.759-6.162,6.162c0,3.403,2.759,6.162,6.162,6.162s6.162-2.759,6.162-6.162   C18.162,8.597,15.403,5.838,12,5.838z M12,16c-2.209,0-4-1.791-4-4s1.791-4,4-4s4,1.791,4,4S14.209,16,12,16z"
                            ></path>
                            <circle cx="18.406" cy="5.594" r="1.44"></circle>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M24,12.073c0,5.989-4.394,10.954-10.13,11.855v-8.363h2.789l0.531-3.46H13.87V9.86c0-0.947,0.464-1.869,1.95-1.869h1.509   V5.045c0,0-1.37-0.234-2.679-0.234c-2.734,0-4.52,1.657-4.52,4.656v2.637H7.091v3.46h3.039v8.363C4.395,23.025,0,18.061,0,12.073   c0-6.627,5.373-12,12-12S24,5.445,24,12.073z"
                            ></path>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                id="Logo_00000038394049246713568260000012923108920998390947_"
                                d="M21.543,7.104c0.014,0.211,0.014,0.423,0.014,0.636  c0,6.507-4.954,14.01-14.01,14.01v-0.004C4.872,21.75,2.252,20.984,0,19.539c0.389,0.047,0.78,0.07,1.172,0.071  c2.218,0.002,4.372-0.742,6.115-2.112c-2.107-0.04-3.955-1.414-4.6-3.42c0.738,0.142,1.498,0.113,2.223-0.084  c-2.298-0.464-3.95-2.483-3.95-4.827c0-0.021,0-0.042,0-0.062c0.685,0.382,1.451,0.593,2.235,0.616  C1.031,8.276,0.363,5.398,1.67,3.148c2.5,3.076,6.189,4.946,10.148,5.145c-0.397-1.71,0.146-3.502,1.424-4.705  c1.983-1.865,5.102-1.769,6.967,0.214c1.103-0.217,2.16-0.622,3.127-1.195c-0.368,1.14-1.137,2.108-2.165,2.724  C22.148,5.214,23.101,4.953,24,4.555C23.339,5.544,22.507,6.407,21.543,7.104z"
                            ></path>
                        </svg>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M22.2277 0H1.77335C0.793875 0 0 0.769608 0 1.71949V22.28C0 23.2299 0.794142 24.0003 1.77335 24.0003H22.2277C23.2072 24.0003 24 23.2296 24 22.28V1.71949C24 0.769875 23.2072 0 22.2277 0ZM7.27608 20.0898H3.64991V9.25397H7.27608V20.0898ZM5.46326 7.77369H5.43899C4.22298 7.77369 3.4347 6.94194 3.4347 5.90086C3.4347 4.83872 4.24618 4.02964 5.48619 4.02964C6.72647 4.02964 7.48942 4.83845 7.51342 5.90086C7.51342 6.94221 6.72674 7.77369 5.46326 7.77369ZM20.3477 20.0898H16.7226V14.2924C16.7226 12.8353 16.1972 11.8415 14.8863 11.8415C13.8834 11.8415 13.2881 12.5121 13.0268 13.1593C12.9297 13.3908 12.906 13.714 12.906 14.0372V20.0896H9.28144C9.28144 20.0896 9.3289 10.27 9.28144 9.2537H12.9063V10.79C13.3876 10.0518 14.2474 8.99877 16.1727 8.99877C18.5586 8.99877 20.3477 10.5465 20.3477 13.8764V20.0898ZM12.8828 10.8244C12.8892 10.8143 12.8977 10.8017 12.9063 10.79V10.8244H12.8828Z"
                            ></path>
                        </svg>
                    </a>
                </li>
            </ul>
        </aside>
    </div>
</header>

<style>
    header {
        width: 85%;
        margin: 0 auto;
        position: sticky;
        top: 0;
        z-index: 10;
        animation: height-all 500ms ease-in-out;
        animation: scroll-header both;
        animation-timeline: scroll(root);
        animation-range: 0 180px;

        --scale: 1;
        --display: block;

        .container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: "logo" "nav" "aside";
            gap: 1rem;
            width: 100%;
            height: 100%;
            padding: 1rem 0;
            .logo {
                text-align: center;
                grid-area: logo;
                a {
                    color: var(--ttlcolor);
                    font-family: "Oswald Variable", sans-serif;
                    font-size: 2rem;
                    font-weight: 700;
                    span {
                        color: var(--phrcolor);
                    }
                }
            }

            nav {
                grid-area: nav;
                ul {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    li {
                        a {
                            position: relative;
                            color: var(--ttlcolor);
                        }
                        a::before {
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: -0.3rem;
                            width: 50%;
                            height: 2px;
                            border-radius: 50%;
                            background-color: transparent;
                        }
                        a.active::before {
                            background-color: var(--ttlcolor);
                        }
                    }
                }
            }

            aside {
                grid-area: aside;
                height: min-content;
                display: var(--display);
                transition: display 300ms ease-in-out;
                ul {
                    display: flex;
                    justify-content: center;
                    gap: 1.5rem;
                    align-items: center;

                    li {
                        a {
                            color: var(--ttlcolor);
                            svg {
                                scale: var(--scale);
                                width: 24px;
                                transition: scale 300ms ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }

    @keyframes scroll-header {
        100% {
            background-color: #efefff;
            border-radius: 0 0 1rem 1rem;
            box-shadow: 0px 10px 10px #00000030;
            --scale: 0;
            scale: 1.1;
            /* --display: none; */
        }
    }

    /* tablet */
    @media (min-width: 768px) {
        header {
            animation: none;
            position: relative;
            .container {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas: "nav logo aside";
                align-items: center;

                nav {
                    ul {
                        justify-content: flex-start;
                        gap: 0.5rem;
                    }
                }
                aside {
                    ul {
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
</style>
<script>
    const $linksNav = document.querySelectorAll(".links");
    $linksNav[0].classList.add("active");
</script>
