---

---

<section>
    <h3>Service</h3>
    <main>
        <article>
            <h4>
                <img src="./public/wd.svg" alt="icono de Web Development">Web Development
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, perferendis!</p>
        </article>
        <article>
            <h4>
                <img src="./public/uxd.svg" alt="icono de UI/UX Design">UI/UX Design
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, perferendis!</p>
        </article>
        <article>
            <h4>
                <img src="./public/wc.svg" alt="icono de Web Consulting">Web Consulting
            </h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil, perferendis!</p>
        </article>
    </main>
</section>

<style>
    section{
        h3{
            font-size: 2rem;
            text-align: center;
        }
        main{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            article{

                h4{
                    display: flex;
                    gap: .8rem;
                    align-items: center;
                    font-size: 1.2rem;

                    img{
                        background-color: white;
                        padding: .8rem;
                        border-radius: 5px;
                        box-shadow: 5px 10px 10px #00000020;
                    }
                }
                p{
                    padding-top: .5rem;
                    line-height: 1.7rem;
                }
            }
        }
    }
</style>